extends layout

block content
  .jumbotron.text-center
    h1 Game Trade
  .container#list

    if games
      if (state==='games')
        .row
          .col-xs-2 Title
          .col-xs-2 Publisher
          .col-xs-2 Rating
          //- .col-xs-2 Status
          hr  
        each game in games 
          .row.game
            .col-xs-2.title= game.title
            .col-xs-2.publisher= game.publisher
            .col-xs-2.rating= game.rating
            btn.col-xs-2.btn.btn-primary.btn-sm.showGame(data-gameId=game._id, data-userId=game.userId) Show Game
            //- if game.canTrade 
            //-  .col-xs-3 Available for trade
            //-  .col-xs-3.btn.btn-danger.selectGame(data-gameId=game._id, data-status='yes') Select
            //- else 
            //-   .col-xs-3 Not available for trade

      hr

  a#addGame.btn.btn-primary(href='/addGame')  Add a Game 


block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/main.js")